.results {
  padding: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #817d7d;
  border-radius: 4px;
  background-color: #20053281;
  width: 650px;
  height: 600px;
  overflow-y: auto;
}

.resultsHeader {
margin-bottom: 10px; 
line-height: 1;
font-size: 17px;
}

