.playlist {
  padding: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #817d7d;
  border-radius: 4px;
  background-color: #20053281;
  width: 500px;
  height: 600px;
  overflow: scroll;
}

.playlistContainer {
  display: flex;
  flex-direction: column;
}


.saveContainer {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.saveContainer button {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: #840fddd9;
  color: white;
  cursor: pointer;
}

