/* Playlist Styles */

.playlistContainer {
  display: flex;
  flex-direction: column;
}

.playlistContainer input {
  border: none;
  background: transparent;
  color: #f1f5f9;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}

.saveContainer {
  display: flex;
  justify-content: center;
}

.saveButton {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  border-radius: 12px;
  background-color: #22c55e;
  color: #f1f5f9;
  cursor: pointer;
  border: none;
}

.saveButton:hover {
  background-color:  rgba(34, 197, 94, 0.18);
}

